@charset "utf-8";

/* 메인 비주얼 */

#main .main_visual {
    position: relative;
    background: url(../img/main/main_visual.jpg) no-repeat 0 0 / cover;
    padding-bottom: 5rem;
    overflow: hidden;
}

#main .main_visual::before {
    /* ct+db+w100p+h100p+z2+bg */
    content: "";
    position: absolute;
    width: 100%;
    z-index: 2;
    background: var(--dark-50);
    min-height: 60.8rem;
}

#main .main_visual .visual_flex .flex_title {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main .main_visual .visual_flex .flex_title figure {
    position: relative;
    z-index: 3;
    width: 5rem;
    height: 5rem;
}

#main .main_visual .visual_flex .flex_title strong {
    position: relative;
    z-index: 3;
    /* fw700+fz6r+f */
    font-weight: 700;
    font: 4.5rem/1.5 "Inria Sans", sans-serif;
}

#main .main_visual .visual_flex dl {
    position: relative;
    z-index: 3;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main .main_visual .visual_flex dl dt {
    position: relative;
    z-index: 3;
    font-weight: 700;
    font-size: 7rem;
    color: #fff;
}

#main .main_visual .visual_flex dl dd {
    position: relative;
    z-index: 3;
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
}

.visual_flex dl a {
    position: relative;
    z-index: 3;
    display: block;
    max-width: 15rem;
    margin-top: 3rem;
    font-size: 2rem;
    padding: 10px;
    /* border: 1px solid #000; */
    background-color: #000;
    border-radius: 30px;
    color: #fff;
    text-align: center;
}

/* sound */
.sound {
    margin-top: 3rem;
    padding: 10rem;
}
.sound-wrap {
    background: var(--main-color);
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sound-wrap p {
    color: var(--text-color-gray3);
    font-size: 3rem;
    font-weight: 700;
}

.sound-wrap strong {
    color: #fff;
    font-size: 7rem;
    font-weight: 700;
}

/* display */
.display .display_flex_wrap {
    padding: 10rem;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.display .display_flex_wrap p {
    /* fw700+fz2.5r+c */
    font-weight: 700;
    font-size: 3rem;
    color: var(--text-color-gray3);
}

.display .display_flex_wrap dl dt {
    font-weight: 700;
    font-size: 7rem;
    color: var(--dark-90);
}

.display .display_flex_wrap dl dd {
    /* fw500+c */
    font-weight: 500;
    color: var(--dark-gray-color);
}

.display .display_flex_wrap dl figure img {
    margin-top: 2rem;
    width: 100%;
    min-height: 40rem;
}

/* search */
.search {
    margin-top: 5rem;
    padding: 10rem;
    /* background: var(--main-color); */
}

.search .search-flex-wrap p {
    /* fw700+fz2.5r+c */
    font-weight: 700;
    font-size: 3rem;
    color: var(--text-color-gray3);
}

.search .search-flex-wrap h2 {
    font-weight: 700;
    font-size: 7rem;
    color: var(--dark-90);
}

.search .search-flex-wrap figure img {
    margin-top: 2rem;
    width: 100%;
    min-height: 40rem;
}

/* tag */
.tag {
    margin-top: 5rem;
    padding: 10rem;
    /* background: var(--main-color); */
}

.tag .tag-flex-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tag .tag-flex-wrap p {
    /* fw700+fz2.5r+c */
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--text-color-gray3);
}
.tag .tag-flex-wrap h2 {
    font-weight: 700;
    font-size: 7rem;
    color: var(--dark-90);
}
.tag .tag-flex-wrap figure img {
    margin-top: 2rem;
    width: 100%;
    min-height: 40rem;
}

/* soundtrack */
.soundtrack {
    margin-top: 5rem;
    padding: 10rem;
    /* background: var(--main-color); */
}

.track-flex-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.track-flex-wrap p {
    /* fw700+fz2.5r+c */
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--text-color-gray3);
}

.track-flex-wrap dl dt {
    font-weight: 700;
    font-size: 7rem;
    color: var(--dark-90);
}
.track-flex-wrap dl dd {
    color: #fff;
    font-weight: 500;
    font-size: 2.2rem;
}

.track-flex-wrap dl figure {
    margin-top: 5rem;
}

.track-flex-wrap dl figure img {
    margin-top: 2rem;
    width: 100%;
    min-height: 40rem;
}
